name: Generate Datas

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: eduardo-ebdl
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#0066FF&color_dots=#161b22,#0d1117,#1c4e80,#0066FF,#7aaeff
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#0066FF
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
